n8n-workflows/email-marketing-working.json
{
  "name": "Email Marketing Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-marketing-working",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-working",
      "name": "Email Webhook Working",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "batch-working",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts",
        "options": {}
      },
      "id": "split-working",
      "name": "Split Contacts",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $node(\"Email Webhook Working\").first().json.subject }}",
        "message": "={{ $node(\"Email Webhook Working\").first().json.htmlContent }}",
        "options": {
          "contentType": "html"
        }
      },
      "id": "gmail-working",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [800, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-main",
          "name": "Gmail OAuth2 Main"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-working",
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node(\"Split in Batches\").context.noItemsLeft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-working",
      "name": "Check Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Emails enviados com sucesso!\",\n  \"campaignId\": \"{{ $node(\"Email Webhook Working\").first().json.campaignId }}\",\n  \"totalSent\": {{ $node(\"Email Webhook Working\").first().json.contacts.length }},\n  \"batchSize\": 10,\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "response-working",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 240]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "continue-working",
      "name": "Continue Processing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1400, 360]
    }
  ],
  "connections": {
    "Email Webhook Working": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Split Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Contacts": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Check Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complete": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Processing": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}