n8n-workflows/email-marketing-workflow.json
{
  "name": "Fly2Any Email Marketing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook Email Campaign",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "fly2any-email-marketing"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "campaignId",
              "value": "={{ $json.campaignId }}"
            },
            {
              "name": "campaignName", 
              "value": "={{ $json.campaignName }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "htmlContent",
              "value": "={{ $json.htmlContent }}"
            },
            {
              "name": "textContent",
              "value": "={{ $json.textContent }}"
            },
            {
              "name": "totalContacts",
              "value": "={{ $json.contacts.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Campaign Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-contacts",
      "name": "Split Contacts in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts",
        "options": {}
      },
      "id": "split-contact",
      "name": "Split Individual Contact",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $('Extract Campaign Data').first().json.subject }}",
        "message": "={{ $('Extract Campaign Data').first().json.htmlContent.replace('{{nome}}', $json.nome).replace('{{email}}', $json.email).replace('{{segmento}}', $json.segmento) }}",
        "options": {
          "contentType": "html",
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth-credentials",
          "name": "Gmail OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait Between Emails",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "batch-complete",
              "leftValue": "={{ $('Split Contacts in Batches').context.noItemsLeft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-batch-complete",
      "name": "Check if All Batches Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Campanha '\" + $('Extract Campaign Data').first().json.campaignName + \"' enviada com sucesso!\",\n  \"campaignId\": $('Extract Campaign Data').first().json.campaignId,\n  \"totalSent\": $('Extract Campaign Data').first().json.totalContacts\n} }}"
      },
      "id": "response-success",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Erro durante o envio da campanha\",\n  \"campaignId\": $('Extract Campaign Data').first().json.campaignId\n} }}"
      },
      "id": "response-error",
      "name": "Return Error Response", 
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 380]
    }
  ],
  "connections": {
    "Webhook Email Campaign": {
      "main": [
        [
          {
            "node": "Extract Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Campaign Data": {
      "main": [
        [
          {
            "node": "Split Contacts in Batches",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Split Contacts in Batches": {
      "main": [
        [
          {
            "node": "Split Individual Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Individual Contact": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail": {
      "main": [
        [
          {
            "node": "Wait Between Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Emails": {
      "main": [
        [
          {
            "node": "Check if All Batches Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if All Batches Sent": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fly2any-email-marketing"
  },
  "id": "email-marketing-workflow",
  "tags": ["email", "marketing", "fly2any"]
}