n8n-workflows/email-marketing-fixed.json
{
  "name": "Fly2Any Email Marketing - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-marketing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d5a5b5c5-1234-4567-8901-123456789012",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts",
        "options": {}
      },
      "id": "d5a5b5c5-1234-4567-8901-123456789014",
      "name": "Split Contacts",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $('Webhook').first().json.subject }}",
        "message": "={{ $('Webhook').first().json.htmlContent }}",
        "options": {
          "contentType": "html"
        }
      },
      "id": "d5a5b5c5-1234-4567-8901-123456789015",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "d5a5b5c5-1234-4567-8901-123456789016",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"message\": \"Emails enviados com sucesso!\", \"emailCount\": {{ $('Split Contacts').all().length }}, \"timestamp\": \"{{ new Date().toISOString() }}\" }",
        "options": {}
      },
      "id": "d5a5b5c5-1234-4567-8901-123456789017",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Contacts": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2"
}