n8n-workflows/fly2any-working.json
{
  "name": "Fly2Any-Auto-Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fly2any-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "check-id",
              "leftValue": "={{ $json.body?.bookingId || $json.bookingId }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "isNotEmpty"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate",
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, bookingId: $json.body?.bookingId || $json.bookingId, pnr: 'AUTO-' + Date.now(), status: 'processing', timestamp: new Date().toISOString() } }}"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Missing bookingId' } }}",
        "options": {"responseCode": 400}
      },
      "id": "error",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 420]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate", "type": "main", "index": 0}]]},
    "Validate": {"main": [[{"node": "Success", "type": "main", "index": 0}], [{"node": "Error", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "fly2any"}, {"name": "production"}]
}
