n8n-workflows/whatsapp-automation-premium.json
{
  "name": "WhatsApp Automation Premium - Fly2Any",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-premium",
        "options": {}
      },
      "name": "WhatsApp Webhook Premium",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "whatsapp-premium-fly2any"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced WhatsApp message processing with AI classification\nconst body = $json.body;\nlet messageData = {};\n\n// Handle different webhook formats\nif (body.event === 'whatsapp_message_received') {\n  messageData = {\n    from: body.data.from,\n    message: body.data.text || body.data.message,\n    contactName: body.data.contactName || '',\n    timestamp: body.data.timestamp,\n    messageId: body.data.messageId,\n    isNewConversation: body.data.isNewConversation,\n    phone: body.data.phone || body.data.from.split('@')[0]\n  };\n} else {\n  messageData = {\n    from: body.from || body.phone,\n    message: body.message || body.text,\n    contactName: body.contactName || body.name || '',\n    timestamp: body.timestamp || new Date().toISOString(),\n    messageId: body.messageId || `msg_${Date.now()}`,\n    isNewConversation: body.isNewConversation || false,\n    phone: body.phone || body.from?.split('@')[0]\n  };\n}\n\n// Advanced intent detection with ML-like scoring\nconst message = messageData.message.toLowerCase();\nlet intent = 'general';\nlet priority = 'normal';\nlet confidence = 0;\nlet autoResponse = false;\nlet requiresHuman = false;\n\n// Intent patterns with confidence scoring\nconst intentPatterns = {\n  greeting: {\n    patterns: ['oi', 'olá', 'bom dia', 'boa tarde', 'boa noite', 'hello', 'hi'],\n    confidence: 0.9,\n    autoResponse: true\n  },\n  flight_inquiry: {\n    patterns: ['voo', 'passagem', 'viagem', 'avião', 'flight', 'ticket', 'voar'],\n    confidence: 0.95,\n    autoResponse: true\n  },\n  pricing: {\n    patterns: ['preço', 'cotação', 'valor', 'custo', 'price', 'quote', 'quanto custa'],\n    confidence: 0.9,\n    autoResponse: true\n  },\n  hotel_inquiry: {\n    patterns: ['hotel', 'hospedagem', 'accommodation', 'ficar', 'dormir'],\n    confidence: 0.85,\n    autoResponse: true\n  },\n  car_rental: {\n    patterns: ['carro', 'aluguel', 'car rental', 'alugar', 'dirigir', 'veículo'],\n    confidence: 0.85,\n    autoResponse: true\n  },\n  urgent: {\n    patterns: ['urgente', 'emergência', 'problema', 'urgent', 'emergency', 'help'],\n    confidence: 1.0,\n    priority: 'high',\n    requiresHuman: true\n  },\n  complaint: {\n    patterns: ['reclamação', 'problema', 'ruim', 'complaint', 'issue', 'bad'],\n    confidence: 0.8,\n    priority: 'high',\n    requiresHuman: true\n  },\n  cancellation: {\n    patterns: ['cancelar', 'cancel', 'refund', 'reembolso', 'devolver'],\n    confidence: 0.9,\n    priority: 'high',\n    requiresHuman: true\n  }\n};\n\n// Calculate intent with highest confidence\nlet maxConfidence = 0;\nfor (const [intentName, config] of Object.entries(intentPatterns)) {\n  const patternScore = config.patterns.reduce((score, pattern) => {\n    if (message.includes(pattern)) {\n      return Math.max(score, config.confidence);\n    }\n    return score;\n  }, 0);\n  \n  if (patternScore > maxConfidence) {\n    maxConfidence = patternScore;\n    intent = intentName;\n    confidence = patternScore;\n    if (config.autoResponse) autoResponse = true;\n    if (config.priority) priority = config.priority;\n    if (config.requiresHuman) requiresHuman = true;\n  }\n}\n\n// Business hours calculation (EST)\nconst now = new Date();\nconst estTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/New_York\"}));\nconst hour = estTime.getHours();\nconst day = estTime.getDay();\nconst isBusinessHours = (day >= 1 && day <= 5 && hour >= 9 && hour < 18) || (day === 6 && hour >= 9 && hour < 14);\n\n// Customer profile scoring\nlet customerScore = 0;\nif (messageData.isNewConversation) customerScore += 20;\nif (intent === 'flight_inquiry') customerScore += 30;\nif (intent === 'pricing') customerScore += 25;\nif (priority === 'high') customerScore += 40;\n\n// Advanced routing logic\nlet routingDecision = 'auto_response';\nif (requiresHuman || priority === 'high') {\n  routingDecision = 'human_agent';\n} else if (!isBusinessHours && intent !== 'greeting') {\n  routingDecision = 'after_hours_response';\n} else if (confidence < 0.7) {\n  routingDecision = 'clarification_needed';\n}\n\nreturn {\n  ...messageData,\n  intent,\n  confidence: Math.round(confidence * 100),\n  priority,\n  isBusinessHours,\n  customerScore,\n  routingDecision,\n  autoResponse,\n  requiresHuman,\n  metadata: {\n    processingTime: new Date().toISOString(),\n    intentConfidence: confidence,\n    messageLength: messageData.message.length,\n    hasEmojis: /[\\u{1F600}-\\u{1F6FF}]/u.test(messageData.message),\n    language: message.includes('hello') || message.includes('hi') ? 'en' : 'pt'\n  }\n};"
      },
      "name": "Advanced Message Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auto-response-route",
              "leftValue": "={{ $json.routingDecision }}",
              "rightValue": "auto_response",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Routing Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate intelligent auto-responses with personalization\nconst data = $json;\nconst intent = data.intent;\nconst confidence = data.confidence;\nconst isBusinessHours = data.isBusinessHours;\nconst language = data.metadata.language;\nconst customerScore = data.customerScore;\n\n// Multi-language responses\nconst responses = {\n  pt: {\n    greeting: [\n      '😊 Olá! Bem-vindo à Fly2Any! Como posso ajudar com sua viagem EUA-Brasil hoje?',\n      '🛫 Oi! Que bom ter você aqui! Em que posso ajudar com sua próxima viagem?',\n      '✈️ Olá! Sou seu assistente de viagens. Como posso tornar sua viagem dos sonhos realidade?'\n    ],\n    \n    flight_inquiry: [\n      `✈️ Perfeito! Para uma cotação personalizada, preciso de:\n\n📍 Origem e destino\n📅 Datas de ida e volta\n👥 Número de passageiros\n💺 Classe preferida (econômica/executiva)\n\n🎯 Cotação GRATUITA em até 2 horas!\n📞 Confiança de ${confidence}% na sua solicitação`,\n      \n      `🛫 Excelente escolha! Somos especialistas em voos EUA-Brasil há +10 anos.\n\nPara sua cotação VIP:\n📍 De onde para onde?\n📅 Quando pretende viajar?\n👥 Quantos viajantes?\n\n💰 Garantimos os melhores preços do mercado!`\n    ],\n    \n    pricing: [\n      `💰 Nossos preços são imbatíveis! Exemplos atualizados:\n\n✈️ Miami ↔ São Paulo: $650-900\n✈️ NY ↔ Rio de Janeiro: $720-1100\n✈️ Orlando ↔ São Paulo: $680-950\n✈️ Los Angeles ↔ São Paulo: $850-1300\n\n🎯 Score do cliente: ${customerScore}/100\n📞 Quer uma cotação personalizada AGORA?`,\n      \n      `🏆 PREÇOS EXCLUSIVOS Fly2Any:\n\n🥇 **Promoções ativas:**\n• Miami-São Paulo: A partir de $649\n• Orlando-Rio: A partir de $699\n• NY-Salvador: A partir de $799\n\n⚡ Cotação express em 1 hora!`\n    ],\n    \n    hotel_inquiry: [\n      `🏨 Hotéis premium no Brasil com desconto Fly2Any:\n\n🌟 **Destinos top:**\n• São Paulo - Copacabana Palace, Fasano\n• Rio de Janeiro - Hotel Belmond, Sheraton\n• Salvador - Pestana, Casa Grande\n• Fortaleza - Beach Park, Gran Marquise\n\n📍 Qual cidade você escolheu?\n📅 Datas da estadia?`,\n      \n      `🏨 Parcerias exclusivas com +500 hotéis:\n\n💎 **Categorias disponíveis:**\n• Luxury (5⭐): Desconto até 30%\n• Premium (4⭐): Desconto até 25%\n• Comfort (3⭐): Desconto até 20%\n\n🎁 Café da manhã GRÁTIS em hotéis selecionados!`\n    ],\n    \n    car_rental: [\n      `🚗 Aluguel de carros com seguro total incluso:\n\n🏢 **Parceiros premium:**\n• Localiza - Líder nacional\n• Hertz - Presença internacional\n• Avis - Frota executiva\n• Movida - Melhor custo-benefício\n\n📋 **Incluso:** Seguro total, GPS, cadeirinha\n📍 Em qual cidade você precisa?`,\n      \n      `🚗 Carros premium para sua viagem:\n\n🚙 **Categorias disponíveis:**\n• Econômico: R$89/dia\n• Intermediário: R$129/dia\n• SUV: R$189/dia\n• Luxury: R$299/dia\n\n🎯 Retirada em +200 pontos no Brasil!`\n    ]\n  },\n  \n  en: {\n    greeting: [\n      '😊 Hello! Welcome to Fly2Any! How can I help with your USA-Brazil travel today?',\n      '🛫 Hi there! Great to have you here! How can I assist with your next trip?',\n      '✈️ Hello! I\\'m your travel assistant. How can I make your dream trip come true?'\n    ],\n    \n    flight_inquiry: [\n      `✈️ Perfect! For a personalized quote, I need:\n\n📍 Origin and destination\n📅 Departure and return dates\n👥 Number of passengers\n💺 Preferred class (economy/business)\n\n🎯 FREE quote within 2 hours!\n📞 ${confidence}% confidence in your request`\n    ]\n  }\n};\n\n// Select appropriate language responses\nconst langResponses = responses[language] || responses.pt;\n\n// Get random response from intent category\nconst intentResponses = langResponses[intent] || langResponses.greeting;\nconst selectedResponse = intentResponses[Math.floor(Math.random() * intentResponses.length)];\n\n// Add business hours context\nlet finalResponse = selectedResponse;\nif (!isBusinessHours && intent !== 'greeting') {\n  if (language === 'en') {\n    finalResponse += `\\n\\n🕐 **Outside business hours**\\nA specialist will return your message in the morning!\\n\\n⏰ **Hours:** Mon-Fri 9am-6pm (EST), Sat 9am-2pm\\n🚨 **Emergencies:** 24/7 support available`;\n  } else {\n    finalResponse += `\\n\\n🕐 **Fora do horário comercial**\\nUm especialista retornará sua mensagem pela manhã!\\n\\n⏰ **Horário:** Seg-Sex 9h-18h (EST), Sáb 9h-14h\\n🚨 **Emergências:** Atendimento 24h disponível`;\n  }\n}\n\n// Add confidence and personalization for high-score customers\nif (customerScore > 50) {\n  if (language === 'en') {\n    finalResponse += `\\n\\n👑 **VIP Customer Detected**\\nPriority support activated!`;\n  } else {\n    finalResponse += `\\n\\n👑 **Cliente VIP Detectado**\\nSuporte prioritário ativado!`;\n  }\n}\n\nreturn {\n  to: data.from,\n  phone: data.phone,\n  message: finalResponse,\n  metadata: {\n    intent: data.intent,\n    confidence: data.confidence,\n    customerScore: data.customerScore,\n    language: language,\n    responseType: 'auto_intelligent',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Intelligent Response Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 180]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'https://www.fly2any.com' }}/api/whatsapp/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "N8N-Premium-Automation/1.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "type",
              "value": "auto_response"
            }
          ]
        }
      },
      "name": "Send Intelligent Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1140, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "human-agent-required",
              "leftValue": "={{ $json.routingDecision }}",
              "rightValue": "human_agent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Requires Human Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 420]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'https://www.fly2any.com' }}/api/support/tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Source",
              "value": "n8n-premium-automation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "whatsapp_premium"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "name",
              "value": "={{ $json.contactName || 'Cliente WhatsApp Premium' }}"
            },
            {
              "name": "subject",
              "value": "{{ $json.priority === 'high' ? '🚨 ALTA PRIORIDADE - ' : '' }}{{ $json.intent === 'urgent' ? 'URGENTE - ' : '' }}WhatsApp: {{ $json.intent }} ({{ $json.confidence }}% confiança)"
            },
            {
              "name": "message",
              "value": "**Mensagem Original:** {{ $json.message }}\\n\\n**Análise IA:**\\n• Intent: {{ $json.intent }}\\n• Confiança: {{ $json.confidence }}%\\n• Score Cliente: {{ $json.customerScore }}/100\\n• Idioma: {{ $json.metadata.language }}\\n• Horário: {{ $json.isBusinessHours ? 'Comercial' : 'Fora do expediente' }}\\n\\n**Contexto:**\\n• Conversa nova: {{ $json.isNewConversation ? 'Sim' : 'Não' }}\\n• Emojis: {{ $json.metadata.hasEmojis ? 'Sim' : 'Não' }}\\n• Tamanho msg: {{ $json.metadata.messageLength }} chars"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "department",
              "value": "={{ $json.intent === 'complaint' ? 'support' : $json.intent === 'cancellation' ? 'billing' : 'sales' }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify($json.metadata) }}"
            }
          ]
        }
      },
      "name": "Create Premium Support Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1140, 420]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'https://www.fly2any.com' }}/api/whatsapp/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "{{ $json.priority === 'high' ? '🚨 **ALTA PRIORIDADE DETECTADA**\\n\\nSua mensagem foi classificada como urgente e um especialista será notificado IMEDIATAMENTE.\\n\\n📞 Resposta garantida em até 15 minutos\\n🎯 Ticket #' + Date.now() + ' criado\\n👨‍💼 Especialista designado automaticamente\\n\\nObrigado pela confiança na Fly2Any!' : '👨‍💼 **Especialista Designado**\\n\\nSua mensagem foi analisada por nossa IA e direcionada para o especialista mais adequado.\\n\\n📋 Análise: ' + $json.intent + ' (' + $json.confidence + '% confiança)\\n⏰ Resposta prevista: ' + ($json.isBusinessHours ? '30 minutos' : 'Próximo dia útil') + '\\n🎯 Ticket criado com sucesso\\n\\nEm breve você receberá uma resposta personalizada!' }}"
            }
          ]
        }
      },
      "name": "Send Agent Assignment Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1360, 420]
    },
    {
      "parameters": {
        "url": "https://www.fly2any.com/api/analytics/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Analytics-Source",
              "value": "n8n-premium"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "whatsapp_message_processed"
            },
            {
              "name": "properties",
              "value": "={{ JSON.stringify({\n  intent: $json.intent,\n  confidence: $json.confidence,\n  priority: $json.priority,\n  routingDecision: $json.routingDecision,\n  customerScore: $json.customerScore,\n  isBusinessHours: $json.isBusinessHours,\n  language: $json.metadata.language,\n  messageLength: $json.metadata.messageLength,\n  hasEmojis: $json.metadata.hasEmojis,\n  isNewConversation: $json.isNewConversation,\n  phone: $json.phone,\n  processingTimestamp: new Date().toISOString()\n}) }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "followRedirect": true,
          "timeout": 5000
        }
      },
      "name": "Analytics & ML Data Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1580, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook Premium": {
      "main": [
        [
          {
            "node": "Advanced Message Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Message Processor": {
      "main": [
        [
          {
            "node": "Routing Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routing Decision": {
      "main": [
        [
          {
            "node": "Intelligent Response Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Requires Human Agent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intelligent Response Generator": {
      "main": [
        [
          {
            "node": "Send Intelligent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Intelligent Response": {
      "main": [
        [
          {
            "node": "Analytics & ML Data Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requires Human Agent?": {
      "main": [
        [
          {
            "node": "Create Premium Support Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Premium Support Ticket": {
      "main": [
        [
          {
            "node": "Send Agent Assignment Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Agent Assignment Notification": {
      "main": [
        [
          {
            "node": "Analytics & ML Data Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "premium"
  },
  "id": "whatsapp-automation-premium",
  "tags": ["whatsapp", "premium", "ai", "automation", "customer-service", "analytics"]
}